.location {
    margin: 20px 0;
}

.location span,
.age span {
    margin-left: 20px;
    position: relative;
    bottom: 2px;
}

.status {
    vertical-align: top;
    margin-top: -5px;
}

.profileImage {
    position: relative;
    margin-bottom: 30px;
}

.profileImage .btnListen {
    left: 10px;
}

.profileImage .btnVideo {
    left: 60px;
}

.profileImage :global .btn {
    position: absolute;
    bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    cursor: pointer;
}
