.profileTabs {
    margin-top: 30px;
}

.profileTabs a {
    color: #0d1c31;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: 0 !important;
    padding: 15px 25px;
    cursor: pointer;
}

.profileTabs li :global a.active {
    color: #16b53b;
    border-bottom: 3px solid #16b53b !important;
}

.profileTabContent {
    background-color: #f9f9f9;
    padding: 20px 0 100px;
}
