.timelineItem {
    width: 670px;
    padding: 0;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.03);
}

.author {
    padding: 25px;
    border: solid 1px #d2dadc;
}

.timelineItem .content h4 a {
    font-size: 22px;
    font-weight: bold;
    color: #000;
}

.content p {
    margin: 30px 0;
    line-height: 1.5em;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.timelineItem .content {
    padding: 20px;
    border: solid 1px #d2dadc;
}

.timelineItem .content::after {
    content: '';
    display: table;
    clear: both;
}

.person {
    margin-top: 0;
    display: inline-block;
}

.menuDropDown {
    right: 0;
    left: auto;
    top: 20px;
    z-index: 300;
}

@media screen and (max-width: 576px) {
    .timelineItem {
        width: 100%;
    }
}
