@import '../../components/variables.css';

.header {
    border-bottom: 1px solid #ddd;
}

.content {
    background-color: #f9f9f9;
    padding: 20px 0;
    min-height: 200px;
}

.tabs {
    margin-top: 30px;
    border-bottom: none !important;
}

.tabs a {
    color: #0d1c31;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: 0 !important;
    padding: 15px 25px;
}

.tabs li :global a.active {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color) !important;
}
