@import '../variables.css';

.loadingBar {
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    background-color: var(--loadingbar-color);
    height: 3px;
}

.pageFixed {
    padding-top: 56px;
}
