.root {
    /* ... */
}

.root :global .form-control:disabled,
.root :global .form-control[readonly] {
    background-color: #fff;
}

.placeholder {
    font-size: 1rem;
    color: #8894a4;
    font-weight: normal;
}

.placeholderActive {
    color: black;
    font-weight: 600;
}

.content {
    resize: none;
    padding: 10px;
    border: 0;
    outline: none;
}
