.commentItem {
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.03);
    border: solid 1px #d2dadc;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.content {
    padding: 5px 0;
    font-size: 1rem;
}

