.root {
    white-space: nowrap;
    overflow-x: auto;
}

.root :global(.nav-link) {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.6px;
    padding: 0.8rem 1.2rem;
}

.root :global(.nav-item:first-child .nav-link) {
    padding-left: 0 !important;
}

.root::-webkit-scrollbar {
    display: none;
}
