.root :global(.dropdown-menu) {
    min-width: 125px;
}

.root .dropdownToggle {
    min-width: 125px;
}

.root .dropdownToggle::after {
    margin-left: 0.5em;
}

.root :global(.btn-outline-secondary.active),
.root :global(.btn-outline-secondary.focus),
.root :global(.btn-outline-secondary:hover) {
    background-color: transparent;
    box-shadow: none;
}
