.navbar {
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
}

.container {
    /* ... */
}

.logo {
    width: 100px;
    margin-bottom: 4px;
}

@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
}
