:root {
    /*
   * Typography
   * ======================================================================== */

    --font-family-base: 'Open Sans', 'Segoe UI', 'HelveticaNeue-Light', sans-serif;

    /*
   * Media queries breakpoints
   * ======================================================================== */

    --screen-xs-min: 480px;  /* Extra small screen / phone */
    --screen-sm-min: 768px;  /* Small screen / tablet */
    --screen-md-min: 992px;  /* Medium screen / desktop */
    --screen-lg-min: 1200px; /* Large screen / wide desktop */
    --primary-color: #16b53b;
    --subtitle-color: #455a6d;
    --slate-color: #455a6d;
    --loadingbar-color: #48e79a;
    --chip-bg-color: #e0e0e0;
    --avatar-bg-color: #e0e0e0;
    --avatar-width: 32px;
    --avatar-height: 32px;
    --hyperlink: #0d1c31;
}
