.root :global(.nav-left .nav-link) {
    padding: 0.5rem 1.2rem;
}

.zalo {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: contain;
    opacity: 0.6;
}

.zalo:hover {
    opacity: 1;
}
