.root {
    justify-content: space-between;
    align-items: center;
}

.root a {
    color: #fff;
}

.root :global(.dropdown-menu a) {
    color: inherit;
}

.root :global(.dropdown-menu a:hover) {
    text-decoration: none;
}
