.container {
    position: relative;
}

.suggestionsContainer {
    display: none;
}

.suggestionsContainerOpen {
    display: block;
    position: absolute;
    top: 38px;
    width: 100%;
    border: 1px solid #aaa;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}

.suggestionsList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.suggestionHighlighted {
    background-color: #ddd;
}
