@import '../../variables.css';

.root {
    background-color: #f2f4f8;
    background-position: top left;
    background-repeat: no-repeat;
    color: var(--hyperlink);
}

.contentWrapper {
    padding: 90px 15px;
    max-width: 400px;
}

.title {
    font-weight: 800;
}

@media screen and (max-width: 576px) {
    .root {
        background-position: 65% 0;
    }
}
