@import '../variables.css';

.root {
    border-radius: 16px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: fit-content;
    text-decoration: none;
    margin: 4px;
    padding: 8px 20px;
    outline: none;
    position: relative;
    z-index: 1;
    background-color: #e0e0e0;
}

.root:hover {
    background-color: color(var(--chip-bg-color) blackness(+10%));
}

.label {
    font-size: 12px;
    font-weight: 400;
    user-select: none;
    white-space: nowrap;
}

.label,
.label a,
.label a:hover {
    color: var(--hyperlink);
    text-decoration: none;
}
