@import '../variables.css';

.root {
    margin-bottom: 20px;
}

.cardMeta {
    margin-top: 20px;
}

.cardTitle {
    font-weight: 700;
    line-height: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.cardDescription {
    margin: 0;
    height: 65px;
    max-height: 4.5em;
    overflow: hidden;
    color: #455a6d;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
