@import '../variables.css';

.editor {
    border: none;
    cursor: text;
    padding: 16px;
    background: #fefefe;
    max-width: 770px;
    margin: auto;
}

.editor :global(.public-DraftEditor-content) {
    min-height: 600px;
}

/* text align fix */
.editor :global(.text-center .public-DraftStyleDefault-ltr) {
    text-align: center !important;
}

.editor :global(.text-right .public-DraftStyleDefault-ltr) {
    text-align: right !important;
}

.editor :global(.block-input) {
    border: 0;
    border-bottom: 1px dashed transparent;
    resize: none;
}

.editor :global(.block-input:hover) {
    border-color: #999;
}

.editor :global(.block-input:focus, .block-input:active) {
    border-color: var(--loadingbar-color);
    border-style: solid;
}
