/* Compose form */

.root {
    margin: 1.5rem 0;
}

.root :global .form-control-feedback {
    padding-left: 0.75rem;
}

.root :global .form-control {
    border: none;
}

.root :global .form-control::placeholder {
    color: #868e96;
}

.root :global .form-control-label {
    color: #868e96;
    padding-left: 12px;
}

.formControlTitle {
    font-size: 42px;
    font-weight: 700;
    padding-left: 16px;
}

.editor {
    padding-left: 0.75rem;
    font-size: 1.1rem;
}

.photo {
    padding: 0 12px;
}

.photo button {
    font-size: 12px;
}
