@import '../variables.css';

.root {
    margin-bottom: 20px;
}

.root :global(.nav-link) {
    padding: 0;
}

.root::after {
    content: '';
    display: block;
    border-bottom: 1px solid #e8e8e8;
    margin-top: 0.5rem;
}

.title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.17;
    color: var(--hyperlink);
}

.title a,
.title a:hover {
    color: inherit;
    text-decoration: none;
}

.more::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.5em;
    vertical-align: middle;
    content: '';
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
}
