@import '../variables.css';

.root {
    font-family: 'Lora', serif;
    color: var(--slate-color);
    font-size: 1.2rem;
    line-height: 2.2rem;
}

.root :global(.block-content),
.root :global(.public-DraftStyleDefault-ul),
.root :global(.public-DraftStyleDefault-ol) {
    margin-bottom: 30px;
}

.root :global(.block-header) {
    margin-top: 10px;
    margin-bottom: 20px;
}

.root img {
    max-width: 100%;
}

.root a {
    color: var(--primary-color);
    text-decoration: underline;
}
