@import '../variables.css';

.avatarImg,
.avatarPlaceholder {
    width: var(--avatar-width);
    height: var(--avatar-height);
}

.avatarPlaceholder {
    background-color: var(--avatar-bg-color);
}
