// Variables
// Variable format should follow the `$component-modifier-state-property` order.

// Options
$enable-rounded:            true;

// Reassign color vars to semantic color scheme
$slate: #455a6d;
$dark-blue-grey: #0d1c31;
$brand-primary:  #16b53b;
$border-color: #d2dadc;
$gray-light: #8894a4;

// Links
$link-color:            $dark-blue-grey;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: none;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-family-serif:      'Open Sans', Georgia, 'Times New Roman', Times, serif;
$font-family-monospace:  'Open Sans', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-family-base:       $font-family-sans-serif;

$font-size-base: 0.875rem; // 14px
$font-size-lg:   $font-size-base;
$font-size-sm:   0.75rem;
$font-size-xs:   0.65rem;

// Body
$body-color:    #0d1c31;

//$line-height-base: 1.5 !default;
//
$font-size-h1: 42px;
$font-size-h2: 36px;
$font-size-h3: 28px;
$font-size-h4: 22px;
$font-size-h5: 18px;

$mobile-headings: (
    h1: (
        s: 32px,
        l: 40px
    ),
    h2: (
        s: 28px,
        l: 36px
    ),
    h3: (
        s: 22px,
        l: 32px
    ),
    h4: (
        s: 18px,
        l: 24px
    ),
) !default;

$headings-font-weight:   600;
$headings-line-height:   1.3;
$headings-color: $dark-blue-grey;

$small-font-size: 12px;

$border-radius:          none;
$border-radius-lg:       none;

$custom-border-radius:          2rem;
$custom-border-radius-lg:       3rem;
//$border-radius-sm:       .2rem !default;

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: (
    25: 25%,
    50: 50%,
    75: 75%,
);

// This variable affects the `.h-*` and `.w-*` classes with responsive.
// Card sizes
$custom-sizes: (
    auto: auto,
    full: 100%,
    170: 170px,
    200: 200px,
    250: 250px, // feed image
    260: 260px,
);

// Component
$component-active-bg:           $brand-primary;

// Buttons
$btn-padding-y:                  0.5rem;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             $btn-primary-bg;

$btn-border-radius:              $custom-border-radius;
$btn-border-radius-lg:           $custom-border-radius;
$btn-padding-y-lg:               0.95rem;

// Input
$input-border-color:             $border-color;

// Card
$card-border-color:        $border-color;
$card-border-radius: none;

// Dropdown
$dropdown-border-color:          $border-color;
$dropdown-link-active-bg:        $component-active-bg;

// Badges
$badge-primary-bg:            $brand-primary;

$badge-font-size:             $font-size-sm;
$badge-font-weight:           600;
$badge-padding-x:             0.95em;
$badge-padding-y:             0.4em;
$badge-border-radius:         1em;

// Nav
$nav-inverse-bg-color:        #212121 !default;

// Navbar
$navbar-light-color: $link-color;
$navbar-light-hover-color: $link-hover-color;

// Form
$form-group-margin-bottom:          1.25rem;
$input-padding-x-lg:                $input-padding-y-lg;
$input-color-placeholder:           $gray-light;
