.modal-inverse {
    color: white;

    h3,
    h2,
    .h2,
    .h3,
    .close {
        color: white;
    }

    .modal-content {
        background-color: #284255;
    }

    .form-control-label {
        color: rgba(255, 255, 255, 0.4);
    }
}
