@include media-breakpoint-up(sm) {
    .nav-left {
        .nav-item:first-child {
            .nav-link {
                padding-left: 0 !important;
            }
        }
    }

    .nav-right {
        .nav-item:last-child {
            .nav-link {
                padding-right: 0 !important;
            }
        }
    }
}

.nav-inverse {
    background-color: $nav-inverse-bg-color;
    color: rgba(255, 255, 255, 0.6);

    .nav-link {
        color: rgba(255, 255, 255, 0.6);
    }

    .nav-link.active,
    .nav-link:hover {
        color: #fff;
    }
}
