.font-size-base { font-size: $font-size-base; }

@include media-breakpoint-down(sm) {
    @each $size, $map in $mobile-headings {
        $font-size: map-get($map, s);
        $line-height: map-get($map, l);

        #{$size},
        .#{$size} {
            font-size: $font-size;
            line-height: $line-height;
        }
    }
}

a {
    &.btn-primary:focus {
        color: #fff;
    }
}
