.root {
    max-width: 600px;
}

.root :global(.modal-header),
.root :global(.modal-body),
.root :global(.modal-footer) {
    padding-left: 30px;
    padding-right: 30px;
}

.root :global(.modal-header) {
    padding-top: 20px;
    padding-bottom: 0;
    border-bottom: none;
}

.root :global(.modal-body) {
    padding-top: 0;
}

.root :global(.modal-footer) {
    padding-bottom: 30px;
    border-top: none;
    justify-content: center;
}

.contentWrapper {
    max-width: 400px;
}

.title {
    font-weight: 800;
}
