/* INDICATOR */
.indicators {
    display: flex !important;
    justify-content: center;
    margin-top: 30px;
}

.indicators li {
    max-width: 290px;
    justify-content: center;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .indicators li {
        display: none;
    }

    .indicators li:global(.slick-active) {
        display: block;
    }
}
