@import '../variables.css';

.cover {
    height: 355px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.title {
    line-height: 1.43;
    max-width: 770px;
    margin: 40px 0;
}

/* indicator component */
.indicator {
    display: inline-block;
    padding: 30px 0;
    margin: 0 10px;
    border-top: 1px rgba(69, 90, 109, 0.4) solid;
}

.indicatorTitle {
    font-size: 14px;
}

.indicator :global(.btn-outline-secondary:hover) {
    background-color: #fff;
    color: var(--slate-color);
}

.indicator :global(.btn-outline-secondary:focus) {
    box-shadow: none;
}

.indicatorNumber {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    color: var(--slate-color);
    border-radius: 50%;
    border: solid 1px rgba(69, 90, 109, 0.4);
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

:global(.slick-active) .indicator,
:global(.slick-active) .indicatorNumber {
    border-color: var(--hyperlink);
}

@media screen and (max-width: 767px) {
    .title {
        width: 100%;
        margin: 20px 0;
    }

    .coverContainer {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 575px) {
    .cover {
        height: 250px;
    }
}
