@import '../../components/variables.css';

.close {
    position: absolute;
    z-index: 1;
    top: 63px;
    right: 0;
    font-size: 2rem;
}

.head {
    text-decoration: underline;
    text-decoration-color: #16b53b;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 50px;
}

.signInContent {
    padding-top: 60px;
    position: relative;
}

.signInContent h5 {
    text-decoration: underline;
    text-decoration-color: #16b53b;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 50px;
}

.socialButton,
.socialButton:hover {
    background-color: transparent;
}

.facebook,
.facebook:hover {
    color: #fff;
    background-color: #4267b2;
}

.facebookIcon {
    display: inline-block;
    vertical-align: top;
    margin-top: -1px;
    margin-right: 3px;
}

.google,
.google:hover {
    color: #ea4335 !important;
    border: solid 1px #ea4335;
}

.linkedin,
.linkedin:hover {
    color: #0077b5 !important;
    border: solid 1px #0077b5;
}

.registerEmail {
    color: #8492a6 !important;
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 40px 0;
}

.registerEmail span {
    background-color: #fff;
    padding: 0 15px;
    font-size: 14px;
}

.registerEmail::before {
    content: '';
    border-top: 1px solid #8492a6;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    margin: 0 auto;
}

.footerLink {
    color: #6b778d;
    font-size: 18px;
    text-align: center;
}
